.product{
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid orangered;
    padding-bottom: 20px;
    margin-right: 10px;
}
.common-btn{
    color: white;
    background-color: orangered;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease .4s;
}
.common-btn:hover{
    background-color: rgb(212, 62, 8);
}
.details{
    margin-left: 30px;
}